<header class="footer text-white fixed-bottom">
    <div class="container py-5 text-center">
    <div class="row">
        <div class="col-md-4 ">
            <div>
            <h4>LOCATION</h4>
            <p>2215 John Daniel Drive
                Clark, MO 65243</p>
        </div>
        </div>
        <div class="col-md-4">
            <div>
            <h4>AROUND THE WEB</h4>
            <div class="last-icons">
           <a href=""> <i class="fab fa-fw fa-facebook-f rounded-circle border-1"></i> </a>
            <a href=""> <i class="fab fa-fw fa-twitter"></i></a>
            <a href="">  <i class="fab fa-fw fa-linkedin-in"></i></a>
            <a href="">  <i class="fab fa-fw fa-dribbble"></i> </a>
        </div>
    </div>
        </div>
        <div class="col-md-4   ">
            <div>
            <h4>ABOUT FREELANCER</h4>
            <div class="last mx-auto">
            <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
        </div>
    </div>
        
    </div>
    </div>
    
    </div>
       

<div class=" text-center fotter-bottom ">
    
        <p class="mb-0 py-4">Copyright © Your Website 2021</p>
    
</div>
</header>
