<section class="about my-5" >
    <div class="container">
        
      <div class="text-center w-50 mx-auto py-5">
        <h2>CONTACT ME</h2>
        <div class="icon mx-auto"><i class="fas fa-star icon-size"></i></div>
      </div>
    <form class="w-50 mx-auto">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control border-start-0 border-end-0 border-top-0" id="name" >
        
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Adress</label>
          <input type="email" class="form-control border-start-0 border-end-0 border-top-0" id="email">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">phone Number</label>
            <input type="number" class="form-control border-start-0 border-end-0 border-top-0" id="phone">
          </div>
          <div class="mb-3">
            <label for="message">Message</label>
            <textarea class="form-control border-start-0 border-end-0 border-top-0"  id="Message" style="height: 100px"></textarea>
            
          </div>
        
        <button type="submit" class="btn btn-primary">send</button>
      </form>
    </div>
</section>